@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

.row {
    max-width: 96vw;
}

.header {
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.fullscreen {
    width: 100vw;
}



.cter {
    @include callout(
        $color: lightblue
        );
}

.ter {
    @include callout(
        $color: #FFBF7E
        );
}

.grey {
    @include callout(
        $color: lightgrey
        );
    padding: 2px;
    padding-left: 5px;
    position: relative;
    height: 30px;
}

//sideBar


.connect_button {
    @include callout (
        
        );
    height: 150px;
}

.profile_screen {
    @include callout();
    height: 469px;
}

.player_button {
    @include button ();
    height: 24px;
    position: relative;
    float: right;
    padding: 6px 1.25rem 0.6875rem 1.25rem;
    font-size: 13px;
    right: 30px;
}

//close button
.close {
    padding-top: 2px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;

}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 3px;
    background-color: red;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.nopad {
    padding-left: 0px;
    padding-right: 0px;
}

.player_name {
    float: left;
}

.connect {
    width: 100%;
    height: 130px;
    color: black;
}

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;
