      <div class="row">
        <div class="callout small-12 medium-3 large-3 columns">
            <div class="connect_button">
                <p>connect</p>
            </div>
            <div class="profile_screen">
            </div>
            <?php 
                require_once(./assets/php/config.php);
            ?>
        </div>
        
        <div class="callout columns">
            <div id="test" class="cter">
                <h3>Counter Terrorist</h3>                 
                <div id="cter_1" class="grey">
                    <div id="cter_1_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-open="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
                <div id="cter_2" class="grey">
                    <div id="cter_2_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
                <div id="cter_3" class="grey">
                    <div id="cter_3_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
                <div id="cter_4" class="grey">
                    <div id="cter_4_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
                <div id="cter_5" class="grey">
                    <div id="cter_5_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
            </div>
            <div class="ter">
                <h3>Terrorist</h3>
                <div id="ter_1" class="grey">
                    <div id="ter_1_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
                <div id="ter_2" class="grey">
                    <div id="ter_2_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
                <div id="ter_3" class="grey">
                    <div id="ter_3_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
                <div id="ter_4" class="grey">
                    <div id="ter_4_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
                <div id="ter_5" class="grey">
                    <div id="ter_5_field" class="player_name"></div>
                    <button onclick="addplayer(this)" data-reveal-id="add_player" class="player_button success">Add</button>
                    <a onclick="removeplayer(this)" class="close"></a>
                </div>
            </div>
            
            <div id="add_player" class="reveal" data-reveal>
                <h2 id="modalTitle">Add Player</h2>
                <p class="lead" id="playerteam"></p>
                <p id="playeridfield"></p>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="row collapse">
                            <form name="get_player_url" method="post">
                            <div class="small-10 columns nopad">
                                <input name="playerurl" type="text" placeholder="Player Url">
                            </div>
                            <div class="small-2 columns nopad">
                                <input type="submit" name="submit_url" onclick="submitplayer(this.form, event)" class="button postfix" id="url_submit" value="Add Player"></input>
                            </div>
                            </form>
                        </div>
                     </div>
                </div>

                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
      </div>