<?php 
    require_once(./assets/php/config.php);
?>
<div class="row">
    <div class="callout small-12 medium-3 large-3 columns">
        <a href="steam://connect/<?php $ip + : + $port + / + $password ?>" class="success button connect">Connect</a>
        <div class="profile_screen">
        </div>
    </div>
      
    <div class="callout columns">
            <div id="test" class="cter">
                <h3>Counter Terrorist</h3>                 
                <div id="cter_1" class="grey">
                    <div id="cter_1_field" class="player_name"></div>
                </div>
                <div id="cter_2" class="grey">
                    <div id="cter_2_field" class="player_name"></div>
                </div>
                <div id="cter_3" class="grey">
                    <div id="cter_3_field" class="player_name"></div>
                </div>
                <div id="cter_4" class="grey">
                    <div id="cter_4_field" class="player_name"></div>
                </div>
                <div id="cter_5" class="grey">
                    <div id="cter_5_field" class="player_name"></div>
                </div>
            </div>
            <div class="ter">
                <h3>Terrorist</h3>
                <div id="ter_1" class="grey">
                    <div id="ter_1_field" class="player_name"></div>
                </div>
                <div id="ter_2" class="grey">
                    <div id="ter_2_field" class="player_name"></div>
                </div>
                <div id="ter_3" class="grey">
                    <div id="ter_3_field" class="player_name"></div>
                </div>
                <div id="ter_4" class="grey">
                    <div id="ter_4_field" class="player_name"></div>
                </div>
                <div id="ter_5" class="grey">
                    <div id="ter_5_field" class="player_name"></div>
                </div>
            </div>
      </div>
</div>